@font-face {
    font-family: ubuntubold;
    src: url(fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(fonts/Ubuntu-MediumItalic.ttf);
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: url('images/img.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar img {
    width: 4em; 
    height: auto; 
    padding: 1em; 
    transform: translateX(45em);
}
  
.navbar ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    flex: 1; 
}

.navbar li {
    margin: 0 5em; 
    transform: translateX(3em);
}
  
.navbar li a {
    display: inline-block;
    color: rgb(183, 255, 0);
    text-align: center;
    text-decoration: none;
    font-family: ubuntubold;
    font-size: 2em;
    animation: fadeInAnimation 0.5s ease-in-out;
}
  
.navbar li a:hover {
    background-color: #565656c8;
}

#home::before {
    content: ""; 
    display: inline-block; 
    width: 1em; 
    height: 0.87em; 
    background-image: url('images/home.png'); 
    background-size: cover; 
    margin-right: 0.1em; 
  }

#store::before {
    content: ""; 
    display: inline-block; 
    width: 1em; 
    height: 0.87em; 
    background-image: url('images/store.png'); 
    background-size: cover; 
    margin-right: 0.1em; 
}

#login::before {
    content: ""; 
    display: inline-block; 
    width: 1em; 
    height: 0.87em; 
    background-image: url('images/login.png'); 
    background-size: cover; 
    margin-right: 0.1em; 
}

#about::before {
    content: ""; 
    display: inline-block; 
    width: 1em; 
    height: 0.96em; 
    background-image: url('images/info.png'); 
    background-size: cover; 
    margin-right: 0.1em; 
    transform: translateY(13%);
  }

#centerpage{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-image: url("images/banner.png");
    background-size: cover;
}
  
#button{
    padding: 0.2em;
    font-size: 5em;
    background-color: #007d04;
    color: rgba(255, 179, 0, 0.877);
    border: 1em;
    border-radius: 1em;
    cursor: pointer;
    font-family: ubuntubold;
    animation: fadeInAnimation 2s ease-in-out;
    transform: translateY(2.5em);
}

#button:hover{
    color: #7cff8c;
}

#centertext{
    position: absolute; 
    text-align: center;
    transform: translateY(-1em);
    font-size: 4em; 
    font-family: ubuntu;
    animation: fadeInAnimation 1s ease-in-out;
    background-image: linear-gradient(to right, #1fcd00, #FFD700, #00f2ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#centertext1{
    position: absolute; 
    text-align: center;
    transform: translateY(-0.2em);
    font-size: 4em; 
    font-family: ubuntu;
    animation: fadeInAnimation 1.3s ease-in-out;
    opacity: 0.6;
}

#discordpage{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: rgb(0, 30, 51);
    background-size: cover;
}

#discord1{
    transform: translateY(-2em);
    font-size: 7em;
    font-family: ubuntubold;
    color: rgb(0, 208, 255);
}

#discord2{
    transform: translateY(-3.5em);
    font-size: 5em;
    font-family: ubuntubold;
    color: rgb(0, 208, 255);
}

#discord2::before {
    content: ""; 
    display: inline-block; 
    width: 1em; 
    height: 1em; 
    transform: translateY(0.2em);
    background-image: url('images/discord.png'); 
    background-size: cover; 
    margin-right: 0.1em;
}

#discord2:hover{
    background-color: #ffa600c8;
}

#promovidpage{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-image: url(images/frostworld.png);
    background-size: cover;
}

#trailertext{
    font-size: 10em;
    font-family: ubuntubold;
    color: orange;
    text-shadow: 0.08em 0.08em 0.05em rgb(147, 131, 111);
    margin-top: 0em;
}
#trailer{
    width: 75em;
    height: auto;
}

#border{
    height: 42em;
    border: 2em solid rgb(255, 187, 0);
}

#promovidpage{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-image: url(images/frostworld.png);
    background-size: cover;
}

#trailertext{
    font-size: 10em;
    font-family: ubuntubold;
    color: orange;
    text-shadow: 0.08em 0.08em 0.05em rgb(147, 131, 111);
    margin-top: 0em;
}
#trailer{
    width: 75em;
    height: auto;
}

#border{
    height: 42em;
    border: 2em solid rgb(255, 187, 0);
}
